# Lingkungan Virtual Python & Cache Backend
backend/venv/
__pycache__/
*.pyc
.pytest_cache/

# Modul & Build Frontend (React + Vite)
frontend/node_modules/
frontend/dist/

# Kredensial & Variabel Lingkungan (Sangat Penting Agar Tidak Bocor!)
.env
backend/.env
frontend/.env

# File Sampah Sistem / OS
.DS_Store
Thumbs.db